.popup-content {
    border-radius: 10px;
    background: white;
    padding: 25px;
    color: #222;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    max-width: 900px;
}

/* font */
.light-font {
    font-weight: 300;
}

.regular-font {
    font-weight: 400;
}

.medium-font {
    font-weight: 500;
}

.semibold-font {
    font-weight: 600;
}

.bold-font {
    font-weight: 700;
}

.extrabold-font {
    font-weight: 800;
}

.black-font {
    font-weight: 900;
}

/* font color */
.color-white {
    color: #fff !important;
}

.color-black {
    color: #000 !important;
}

/* background color */
.bg-white {
    background-color: #fff !important;
}

.bg-light-grey {
    background-color: #fafafa !important;
}

.bg-green {
    background-color: #519564 !important;
}
.bg-light-blue{
    background-color: #dfe8f0 !important;
}
.bg-yellow{
    background-color: #ffb13d !important;
}
.bg-grey{
    background-color: #e7e6dc !important;
}
.bg-light-green{
    background-color: #e0ebe2 !important;
}
/* global */
body {
    font-family: montserrat;
    font-size: 16px;
    font-weight: 500;
}
.btn{
    border-radius: 0;
    background-color: #000;
    color: #fff;
}
.btn:hover{
    color: #fff;
}
.btn-full{
    width: 100%;
}
.logo-text {
    font-size: 28px;
    letter-spacing: 2px;
}
.separator{
    margin: 2rem 1.5rem;
    display: block;
    height: 1px;
    background-color: #dee2e6;
}
.image-wrap img{
    width: 100%;
}
.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 80px;
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.progress-container::before {
    content: "";
    background-color: #d3d2c2;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: #519564;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 33%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #d3d2c2;
    transition: 0.4s ease;
    position: relative;
}

.circle.active {
    border-color: #519564;
    background-color: #519564;
}
.circle > div{
    position: absolute;
    top: 30px;
    width: 150px;
    color: #000;
}
.tab-title{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.tab-title::after{
    display: block;
    content: '+';
    position: absolute;
    right: 15px;
    font-size: 28px;
}
.tab-title.active::after{
    content: '-';
}
.tracking .tracking-date-wrap{
    width: 100px;
}
.tracking .tracking-content-wrap{
    width: calc(100% - 100px);
}
.order-item .order-item-image{
    width: 100px;
}
.order-item .order-item-detail{
    width: calc(100% - 100px);
}
#phoneNumberField{
    padding: 1rem;
}
#phoneNumberField form input{
    width: 100%;
    border-radius: 0;
    margin-bottom: 0.5rem;
    border: 1px solid #000;
}
#phoneNumberField form input[type="submit"]{
    background-color: #ffb13d;
    border: 0;
}
#emailField{
    padding: 1rem;
}
#emailField form input{
    width: 100%;
    border-radius: 0;
    margin-bottom: 0.5rem;
    border: 1px solid #000;
}
#emailField form input[type="submit"]{
    background-color: #ffb13d;
    border: 0;
}
#feedbackModal{
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    top: 50px;
}
footer *{
    font-size: 14px !important;
}
footer a{
    color: #000;
    text-decoration: unset;
}

/* login page */
.page-login .main-content{
    height: 100vh;
    display: flex;
    align-items: center;
}
.login-form{
    max-width: 420px;
    margin: auto;
    position: relative;
    padding: 50px 0;
}
.login-form form{
    background-color: #fafafa;
}
.login-form form input{
    border-radius: 0;
}
@media (min-width: 1400px) {
    .container {
        max-width: 1370px;
    }
}

@media (max-width: 1399px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 575px) {}